/* General/all pages */
body {
    background-color: #dbd2ad;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.public-head {
    font-family: 'Paytone One', sans-serif;
    font-size: 6.5em;
    text-align: center;
    color: #f5ebeb;
    -webkit-text-stroke: 1px black;
    font-weight: bolder;
    background-image: url("images/salmon.png");
    background-size: 155px;
    background-position: center-top;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color:#343533;
    font-size: 2.5em;
}

p {
    font-size: 1.5em;
}

/* locations */
dt {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
}

dd {
    line-height: 1.5em;
    font-size: 1.25em;
}

/* ****************** */

/* Sales Page, Table, New Store Form */


#sales-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: #703131;
}

#sales-table {
    background-color:#e7e7db;
    border: 2px solid;
    border-radius: 1%;
    margin: 0 auto;
}

#new-store {
    border: 20px solid #313030;
    background-color: #e7e7db;
    text-align: center;
    width: 300px;
    padding: 40px;
    text-align: left;
    border-radius: 2%;
    border-color:#522a27;
    margin: 0 auto;
}

thead {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-bottom: 1px solid;
}

th {
    padding: 7px 10px 10px 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-collapse: collapse;
    background-color: #cacabd;
}

td {
    border-bottom: 1px solid;
    border-right: 1px solid;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #313130;
}

button {
    background-color: #50295a;
    font-size: 20px;
    margin-top: 15px;
}

/* ****************** */

/* Order Form */

.order-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color:#343533;
}

#order-cookies {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#order1 {
   
}

#order2 {

}

label {
    font-weight: bold;
    font-size: 1.5em;
}

input {
    font-size: 20px;
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    line-height: 2em; 
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    margin-left: 100px;
}

/* Merch Shop */

.shop-head {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:#343533;
    font-size: 2.5em;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

figcaption {
    text-align: center;
    font-size: 2em;
}

#prints {
    display: flex;
    justify-content: space-between;
}

/* ************* */

