/* General/all pages */
body {
    background-color: #def5f2;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.public-head {
    font-family: 'Paytone One', sans-serif;
    font-size: 6.5em;
    text-align: center;
    color: #12f7e0;
    -webkit-text-stroke: 1px black;
    font-weight: bolder;
    background-image: url("images/salmon.png");
    background-size: 155px;
    background-position: center-top;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color:#123b37;
    font-size: 2.5em;
}

nav ul li {
    display: inline-block;
    margin-left: 75px;
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
}

/* locations */
dt {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
}

dd {
    line-height: 1.5em;
    font-size: 1.25em;
}

/* ****************** */

/* Sales Page, Table, New Store Form */


#sales-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: #123b37;;
}

#sales-table {
    background-color:#b5e0eb;
    border: 2px solid;
    border-radius: 1%;
    margin: 0 auto;
}

#new-store {
    border: 20px solid #313030;
    background-color: #b5e0eb;;
    text-align: center;
    width: 300px;
    padding: 40px;
    text-align: left;
    border-radius: 2%;
    border-color:#153531;;
    margin: 0 auto;
}

thead {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-bottom: 1px solid;
}

th {
    padding: 7px 10px 10px 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-collapse: collapse;
    background-color: #7fb6c4;
}

td {
    border-bottom: 1px solid;
    border-right: 1px solid;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #313130;
}

button {
    background-color: #ec7741;
    font-size: 20px;
    margin-top: 15px;
}

/* ****************** */

/* Order Form */

.order-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color:#343533;
}

#order-cookies {
    padding: 0 25%;
}

#order1 {
    display: inline-block;
    text-align: right;

}

#order2 {
    display: inline-block;
    float: right;
    text-align: right;
}

label {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 10px;
}

input {
    font-size: 20px;
    background-color: #eaf4f7;;
}

ul {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    line-height: 2em; 
    margin: 0 auto;
}

/* Merch Shop */

.shop-head {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:#343533;
    font-size: 2.5em;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    border: 3px solid black;
}

figcaption {
    text-align: center;
    font-size: 2em;
}

#prints {
    display: flex;
    justify-content: space-between;
}

/* ************* */

